<%-include("partials/header") -%>
<section id="productos" class="bg-light-gray">

    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center ">
                <h2 class="">Nuestros Productos</h2>

            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <%productosQuetzal.forEach( producto => {%>

                <div class="col mb-4">
                    <div class="card h-100">
                        <img height="320" src="<%= producto.url %>" class="card-img-top" alt="<%= producto.name %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= producto.name %></h5>
                            <h6 class="card-subtitle mb-2 text-muted">Beneficios</h6>
                            <p class="card-text"><%= producto.description.substring(0,50) + "..." %> <a href="/producto/<%=producto._id  %>">Ver más</a> </p>
                        
                        </div>
                    </div>
                </div>

            <%})%>
            
            <!-- <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/colageinX.jpeg" class="card-img-top" alt="Colagein-X">
                    <div class="card-body">
                        <h5 class="card-title">Colagein-X</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">
                            Desvanece líneas de expresión, manchas por el sol y paño. <br>
                            Quita celulitis, ayuda a mantener la elasticidad de la piel.                        
                           
                            
                            
                    </div>
                </div>
            </div> -->
           
           
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="tag-hero" href="/archivos/catalogo.pdf">Ver catálogo</a>

            </div>
            

        </div>




    </div>

</section>
<%-include("partials/pricing") -%>

<%-include("partials/contacto") -%>



<%-include("partials/footer") -%>